<!DOCTYPE html>
<html>
    <head>
        <title>Search Results - <%=shopData.shopName%></title>
        <link rel="stylesheet"  type="text/css" href="/main.css" />
    </head>
    <body>
        <div class="container">
            <nav>
                <p>
            <a href="<%= baseUrl %>/">Home</a> | 
            <a href="<%= baseUrl %>/about">About</a> | 
            <a href="<%= baseUrl %>/books/search">Search</a> | 
            <a href="<%= baseUrl %>users/register">Register</a> | 
            <a href="<%= baseUrl %>/books/addbook">Add Book</a> | 
            <a href="<%= baseUrl %>/books/list">List Books</a> |
            <a href="<%= baseUrl %>/books/bargainbooks">Bargain Books</a>
        </p>
            </nav>
            <hr>
            <h1>Search Results for: "<%= search_text %>"</h1>

            <% if (availableBooks.length > 0) { %>
                <p>Here are the books that match your search: </p>
                <ul>
                    <% availableBooks.forEach(function(book) { %>
                        <li>
                            <%= book.name %> £, <%= book.price %>
                        </li>
                    <% }); %>
                </ul>
            <% } else { %>
                <p>We appologise, no books were found matching your search!</p>
            <% } %>
            <p style ="margin-top:20px;"><a href="/books/search">Try another search ?</a>
            </p>          
    </body>
</html>